<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="row w-100">
            <div class="col-2">
                <a class="navbar-brand" href="#">Navbar</a>
            </div>
            <div class="col-10">
                <div class="navbar-collapse float-right">
                    <!-- <ul class="navbar-nav mr-auto"> -->
                    <ul class="navbar-nav nav-custom">
                        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a class="nav-link" [routerLink]="['product']">Product</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                    </ul>
                    <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
                </div>
            </div>
        </div>




    </nav>

</header>
<div class="container">
    <main>
        <router-outlet></router-outlet>
    </main>
</div>